.filtersContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    gap: 16px;
    margin-bottom: 32px; 
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetButton {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    margin-right: 1em;
    margin-top: 1em;
}

.resetButton:focus {
    outline: none;
}

.filterTitle {
    font-size: 24px;
    color: black;
    margin-left: 1.5em;
    margin-top: 1em;
}

.searchAndDropsRow {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    gap: 16px;
    margin-left: 2em;
    margin-right: 2em;
}

.searchAndDropsRow > * {
    width: 100%;
}

.searchBox {
    display: flex;
    border-radius: 8px;
    align-items: center;
    border: 1px solid #e2e8f0;
    height: 40px;
    padding: 5px;
}

.searchIcon {
    width: 12px;
    height: 12px;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #0f172a;
    background-color: #fff;
}

.dropdownContainer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 5px 12px;
    cursor: pointer;
}

.dropdownLabel {
    font-size: 14px;
    color: #0f172a;
}

.dropdownIcon {
    width: 12px;
    height: 12px;
    color: black;
}

.bottomRow {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    margin-left: 1em;
}

.projector {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 1em;
}

.tagButton {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: lightgrey;
    opacity: 0.8;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: background-color 1s, color 1s;
    margin-bottom: 2em;
}

.tagButtonActive {
    background-color: #1d4ed8;
    color: #ffffff;
    font-weight: 600;
}

.tagIcon {
    width: 12px;
    height: 12px;
}
