.lastUpdatesContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 32px;
    padding-bottom: 1em;
    border: 1px solid rgba(182, 182, 182, 0.3);
}

.headerRow {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.headerTitle {
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.showAllButton {
    font-size: 16px;
    color: rgb(10, 114, 233);
    background-color: #fff;
    margin-right: 1em;
    border: none;
    background: none;
}

.showAllButton:focus {
    outline: none;
}

.bodyRow {
    display: flex;
    flex-direction: column;
}

.update {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.iconBox {
    margin-top: 0.3em;
    border-radius: 999px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center; 
    margin-right: 1em;
}

.icon {
    width: 22px;
    height: 22px;
}

.textWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
}

.updateLabel {
    margin-bottom: -0.1em;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.timeLabel {
    font-size: 16px;
    color: grey;
}