.bodyHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 2em;
}

.leftText { 
    flex-grow: 1; 
    text-align: left;
    flex-shrink: 1;
}

.leftUpText {
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin: 0;
    text-align: left;
}

.leftBottomText {
    color: black;
    margin-top: 4px;
    font-size: 20px;
    opacity: 0.8;
}

.buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-basis: 500px;
    flex-shrink: 0;
    flex: 3 0 0;
    width: 100%;
    margin-left: 10em;
}

.button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

.buttonIcon {
    width: 10px;
    height: 10px;
}

.exportButton, .importButton {
    background: #F3F4F6;
    color: #000000;
    height: 40px;
    width: 0 auto;
    flex-grow: 1;
}

.addAuditoriumButton {
    background-color: #1d4ed8;
    color: #fff;
    border: 1px solid #1d4ed8;
    width: 0 auto;
    height: 40px;
    flex-grow: 2;
}
