.quickAction {
    background-color: #fff;
    border-radius: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid rgba(182, 182, 182, 0.3);
}

.title {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: black;
    padding-top: 1em;
}

.buttonsRow {
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    padding: 1em;
    flex: 1 1 0;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgba(135, 134, 134, 0.1);
}

.buttonActive {
    background-color: blue;
    color: #fff;
    font-weight: 600;
}

.iconBox {
    position: start;
    width: 48px;
    height: 48px;
    border-radius: 25%;
    display: grid;
    place-items: center;
    margin-right: 12px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: start; 
}

.icon {
    width: 24px;
    height: 24px;
}

.label {
    font-size: 16px;
    color:black;
    font-weight: 700;
}

.secondLabel {
    font-size: 12px;
    color: grey;
    font-weight: 400;
}